TABLE {
    border-top: 2px solid #000; /* Линия сверху таблицы */
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
    display: inline-block;
}
THEAD {
    font-weight: bold;
}
TD, TH {
    padding: 5px; /* Поля в ячейках */
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
    valign: top;
}
TH, CAPTION {
    text-align: left; /* Выравнивание по левому краю */
    background: black; /* Цвет фона */
    color: white; /* Цвет текста */
}
CAPTION {
    text-align: center; /* Выравнивание по левому краю */
}
.del{
    background: rosybrown;
    color: #000000;
}
.upd{
    background: aliceblue;
    color: #000000;
}
.add{
    background: darkseagreen;
    color: #000000;
}
.day{
    background: whitesmoke;
    color: #000000;
}